body {
  font-family: "Roboto", sans-serif;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

/* p {
  text-align: center;
} */

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 90px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 0;
}

.logo {
  font-size: 24px;
}

.hero a {
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
}

.hero a,
.logo,
#main-footer {
  color: #e5e7eb;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.hero-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 90px 50px;
}

#hero-img img {
  width: 350px;
  height: 250px;
}

.box img {
  max-width: 200px;
  height: auto;
}

.cta-button {
  background-color: #3882f6;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.cta-button:hover {
  background-color: rgb(56, 130, 246, 0.7);
}

.info {
  padding: 40px 150px;
}

.info-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.box {
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid rgb(56, 130, 246);
  padding: 0 20px;
  box-shadow: 5px 5px 10px rgba(56, 130, 246, 0.3);
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  padding: 40px 150px;
  margin: 50px 0;
}

.quote p {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
  text-align: left;
}

.quote-author {
  font-weight: bold;
  font-size: 26px;
  text-align: right;
}

.cta {
  background-color: #3882f6;
  width: 70%;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 40px 150px;
  margin: 50px 0;
}

.cta-content p {
  padding: 0;
  margin: 0;
}

.cta button {
  align-self: flex-end;
  border: 1px solid #ffffff;
}

#main-footer {
  background-color: #1f2937;
  display: flex;
  width: 100%;
  padding: 0 90px;
  justify-content: center;
}